# Unreal Engine specifics
*/Intermediate
*/Binaries
*/Saved

# Developers files
*/Content/Developers
*/Content/StarterContent
*/Content/Collections

# no need to store solution, it can be regenerated
*.sln

#visual studio files
.vs

#studio code files
*.code-workspace
.vscode

# bat files for building
*.bat

#UE4 Engine
*/UE4


#3D modeling files
*/BlenderFiles
*.blend
*.blend*
